<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tareas</title>
    <link rel="stylesheet" href="/index.css">
    <link rel="icon" href="/TaskMasterIcon.png" type="image/png">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/Projects.html">Proyectos</a></li>
                <li><a href="/Algorithms.html">Algoritmos</a></li>
            </ul>
        </nav>
    </header>
    <section class="low-header">
        <h1>Bienvenido</h1>
        <h3>Este es un proyecto individual para llevar el progreso de distintas actividades,
            ya sean proyectos web, de escritorio, de análisis de datos o simples algoritmos.
        </h3>
    </section>
    <div class="grid-container">
        <div class="Proj-div">
            <h2>Los proyectos son aplicaciones o soluciones más grandes a un problema más estructurado,
                para empezar a registrar tu progreso en distintos proyectos, dale al botón.
            </h2>
            <a href="./Projects.html"><button class="transition">Mis proyectos</button></a>
        </div>
        <div class="Alg-div">
            <h2>Los algoritmos están diseñados para poner a prueba tus conocimientos en determinado
                lenguaje y tu lógica, para registrar enunciados y sus soluciones, dale al botón.
            </h2>
            <a href="./Algorithms.html"><button class="transition">Mis algoritmos</button></a>
        </div>
    </div>
</body>
</html>